<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<h1>Dashboard Genetic Algorithm</h1>
<!-- Graphs -->
<h2>Chart showing the best initial solution. <span style="padding-left:280px">Chart showing the best solution after training</h2>
<h3><%= "Best solution in the first Generation: #{@bestSolution1+1} with #{@solutionResults1[@bestSolution1]}" %><span style="padding-left:300px"><%= "Best found solution is from Generation: #{@progressionDataFittest[1]} with #{@progressionDataFittest[0]}" %></h3>
<div style="position:relative; margin-bottom: 650px">
   <canvas id="myChart" width="600" height="600" style="position:absolute; left: 0px;"></canvas>
   <canvas id="myChart10" width="600" height="600" style="position:absolute; left: 620px;"></canvas>

</div>
<br>

<h2>Chart showing the progression of the Genetic Algorithm</h2>
<h3><%= "Best found solution is from Generation: #{@progressionDataFittest[1]} with #{@progressionDataFittest[0]}" %></h3>
   <canvas id="bestOfChart" width="1800" height="750"></canvas>
<br><br><br>
<!-- Test/debug data -->
<button style="margin-left: 5%" onclick="displayDebug()">Show/hide debug info</button>
<br><br><br><br><br>
<div id="debugInfo" style="display: none">
<h2>Starting Solutions</h2>
<% @solutions1.each_with_index do |solution, arrayIndex| %>
   <h3>Solution <%= arrayIndex+1 %> </h3>
   <p> Solution: 
      <% solution.each_with_index do |cityId, cityIndex| %>
         <%= solution[cityIndex][0] %>
      <% end %>
   </p>
   <p> Total Distance: <%= @solutionResults1[arrayIndex] %></p>
<% end %>


<h2>After 10 Iterations</h2>
<% @solutions10.each_with_index do |solution, arrayIndex| %>
   <h3>Solution <%= arrayIndex+1 %> </h3>
   <p> Solution: 
      <% solution.each_with_index do |cityId, cityIndex| %>
         <%= solution[cityIndex][0] %>
      <% end %>
   </p>
   <p> Total Distance: <%= @solutionResults10[arrayIndex] %></p>
<% end %>
</div>

<!-- js graph code -->
<script>
function displayDebug() {
  var x = document.getElementById("debugInfo");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
   type: 'scatter',
   data: {
      datasets: [{
         data: <%= @chartDataArray1.to_json.html_safe %>,
         borderColor: 'black',
         borderWidth: 1,
         pointBackgroundColor: '#000',
         pointBorderColor: '#000',
         pointRadius: 5,
         pointHoverRadius: 5,
         fill: false,
         tension: 0,
         showLine: true
      }]
   },
   options: {
      legend: false,
      tooltips: false,
      responsive: false,
      maintainAspectRatio: true, 
      scales: {
         xAxes: [{
            ticks: {
               min: 0,
               max: 1000
            },
            gridLines: {
               color: '#888',
               drawOnChartArea: false
            }
         }],
         yAxes: [{
            ticks: {
               min: 0,
               max: 1000,
               padding: 10
            },
            gridLines: {
               color: '#888',
               drawOnChartArea: false
            }
         }]
      }
   }
});
var ctx = document.getElementById('bestOfChart').getContext('2d');
var chart = new Chart(ctx, {
   type: 'line',
   data: {
      labels: <%= Array.new(@progressionData.length) { |i| i}%>,
      datasets: [{
         data: <%= @progressionData.to_json.html_safe %>,
         borderColor: 'black',
         borderWidth: 1,
         pointBackgroundColor: '#000',
         pointBorderColor: '#000',
         pointRadius: 5,
         pointHoverRadius: 5,
         fill: false,
         tension: 0,
         showLines: true
      }]
   },
   options: {
      legend: false,
      responsive: false,
      maintainAspectRatio: true, 
      scales: {
         xAxes: [{
            display: true,
            ticks: {
               min: 0,
               max: 5000
            },
            gridLines: {
               color: '#888',
               drawOnChartArea: false
            }
         }],
         yAxes: [{
            ticks: {
               min: 0,
               max: 16000,
               padding: 10
            },
            gridLines: {
               color: '#888',
               drawOnChartArea: false
            }
         }]
      }
   }
});
var ctx = document.getElementById('myChart10').getContext('2d');
var chart = new Chart(ctx, {
   type: 'scatter',
   data: {
      datasets: [{
         data: <%= @chartDataArray10.to_json.html_safe %>,
         borderColor: 'black',
         borderWidth: 1,
         pointBackgroundColor: '#000',
         pointBorderColor: '#000',
         pointRadius: 5,
         pointHoverRadius: 5,
         fill: false,
         tension: 0,
         showLine: true
      }]
   },
   options: {
      legend: false,
      tooltips: false,
      responsive: false,
      maintainAspectRatio: true, 
      scales: {
         xAxes: [{
            ticks: {
               min: 0,
               max: 1000
            },
            gridLines: {
               color: '#888',
               drawOnChartArea: false
            }
         }],
         yAxes: [{
            ticks: {
               min: 0,
               max: 1000,
               padding: 10
            },
            gridLines: {
               color: '#888',
               drawOnChartArea: false
            }
         }]
      }
   }
});

</script>
