<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<h1>Dashboard Genetic Algorithm</h1>
<h2>Chart showing the best initial solution. <span style="padding-left:280px">Chart showing the progression of the Genetic Algorithm</h2>
<h3><%= "Current Best solution: #{@bestSolution1+1} with #{@solutionResults1[@bestSolution1]}" %></h3>
<div style="position:relative; margin-bottom: 650px">
   <canvas id="myChart" width="600" height="600" style="position:absolute; left: 0px;"></canvas>
   <canvas id="bestOfChart" width="800" height="1000" style="position:absolute; left: 620px;"></canvas>
</div>
<br>

<h2>Chart showing the best solution after 10 iterations</h2>
<h3><%= "Current Best solution: #{@bestSolution10+1} with #{@solutionResults10[@bestSolution10]}" %></h3>
<canvas id="myChart10" width="600" height="600" ></canvas>
<h2>Starting Solutions</h2>
<% @solutions1.each_with_index do |solution, arrayIndex| %>
	<h3>Solution <%= arrayIndex+1 %> </h3>
	<p> Solution: 
		<% solution.each_with_index do |cityId, cityIndex| %>
			<%= solution[cityIndex][0] %>
		<% end %>
	</p>
	<p> Total Distance: <%= @solutionResults1[arrayIndex] %></p>
<% end %>


<h2>After 10 Iterations</h2>
<% @solutions10.each_with_index do |solution, arrayIndex| %>
	<h3>Solution <%= arrayIndex+1 %> </h3>
	<p> Solution: 
		<% solution.each_with_index do |cityId, cityIndex| %>
			<%= solution[cityIndex][0] %>
		<% end %>
	</p>
	<p> Total Distance: <%= @solutionResults10[arrayIndex] %></p>
<% end %>

<script>

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
   type: 'scatter',
   data: {
      datasets: [{
         data: <%= @chartDataArray1.to_json.html_safe %>,
         borderColor: 'black',
         borderWidth: 1,
         pointBackgroundColor: '#000',
         pointBorderColor: '#000',
         pointRadius: 5,
         pointHoverRadius: 5,
         fill: false,
         tension: 0,
         showLine: true
      }]
   },
   options: {
      legend: false,
      tooltips: false,
      responsive: false,
      maintainAspectRatio: true, 
      scales: {
         xAxes: [{
            ticks: {
               min: 0,
               max: 1000
            },
            gridLines: {
               color: '#888',
               drawOnChartArea: false
            }
         }],
         yAxes: [{
            ticks: {
               min: 0,
               max: 1000,
               padding: 10
            },
            gridLines: {
               color: '#888',
               drawOnChartArea: false
            }
         }]
      }
   }
});
var ctx = document.getElementById('bestOfChart').getContext('2d');
var chart = new Chart(ctx, {
   type: 'line',
   data: {
      labels: <%= Array.new(@geneticAlgorithmProgressionData.length) { |i| i}%>,
      datasets: [{
         data: <%= @geneticAlgorithmProgressionData.to_json.html_safe %>,
         // data: [10000, 2000],
         borderColor: 'black',
         borderWidth: 1,
         pointBackgroundColor: '#000',
         pointBorderColor: '#000',
         pointRadius: 5,
         pointHoverRadius: 5,
         fill: false,
         tension: 0,
         showLines: true
      }]
   },
   options: {
      legend: false,
      responsive: false,
      maintainAspectRatio: true, 
      scales: {
         xAxes: [{
            display: true,
            ticks: {
               min: 0,
               max: 5000
            },
            gridLines: {
               color: '#888',
               drawOnChartArea: false
            }
         }],
         yAxes: [{
            ticks: {
               min: 0,
               max: 16000,
               padding: 10
            },
            gridLines: {
               color: '#888',
               drawOnChartArea: false
            }
         }]
      }
   }
});
var ctx = document.getElementById('myChart10').getContext('2d');
var chart = new Chart(ctx, {
   type: 'scatter',
   data: {
      datasets: [{
         data: <%= @chartDataArray10.to_json.html_safe %>,
         borderColor: 'black',
         borderWidth: 1,
         pointBackgroundColor: '#000',
         pointBorderColor: '#000',
         pointRadius: 5,
         pointHoverRadius: 5,
         fill: false,
         tension: 0,
         showLine: true
      }]
   },
   options: {
      legend: false,
      tooltips: false,
      responsive: false,
      maintainAspectRatio: true, 
      scales: {
         xAxes: [{
            ticks: {
               min: 0,
               max: 1000
            },
            gridLines: {
               color: '#888',
               drawOnChartArea: false
            }
         }],
         yAxes: [{
            ticks: {
               min: 0,
               max: 1000,
               padding: 10
            },
            gridLines: {
               color: '#888',
               drawOnChartArea: false
            }
         }]
      }
   }
});

</script>
