<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<h1>Dashboard Genetic Algorithm</h1>

<h2>Starting Solutions</h2>
<% @solutions1.each_with_index do |solution, arrayIndex| %>
	<h3>Solution <%= arrayIndex+1 %> </h3>
	<p> Solution: 
		<% @solutions1.each_with_index do |cityId, cityIndex| %>
			<%= solution[cityIndex][0] %>
		<% end %>
	</p>
	<p> Total Distance: <%= @solutionResults1[arrayIndex] %></p>
	<!-- <p> Full Data Set: <%= solution %></p> -->
<% end %>
<h2>Chart showing the best current solution with all the cities</h2>
<h3><%= "Current Best solution: #{@bestSolution1}" %></h3>
<canvas id="myChart" width="600" height="600"></canvas>
<script>

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
   type: 'scatter',
   data: {
      datasets: [{
         data: <%= @chartDataArray1.to_json.html_safe %>,
         borderColor: 'black',
         borderWidth: 1,
         pointBackgroundColor: '#000',
         pointBorderColor: '#000',
         pointRadius: 5,
         pointHoverRadius: 5,
         fill: false,
         tension: 0,
         showLine: true
      }]
   },
   options: {
      legend: false,
      tooltips: false,
      responsive: false,
      maintainAspectRatio: true, 
      scales: {
         xAxes: [{
            ticks: {
               min: 0,
               max: 1000
            },
            gridLines: {
               color: '#888',
               drawOnChartArea: false
            }
         }],
         yAxes: [{
            ticks: {
               min: 0,
               max: 1000,
               padding: 10
            },
            gridLines: {
               color: '#888',
               drawOnChartArea: false
            }
         }]
      }
   }
});
</script>

<h2>After 10 Iterations</h2>
<% @solutions10.each_with_index do |solution, arrayIndex| %>
	<h3>Solution <%= arrayIndex+1 %> </h3>
	<p> Solution: 
		<% @solutions10.each_with_index do |cityId, cityIndex| %>
			<%= solution[cityIndex][0] %>
		<% end %>
	</p>
	<p> Total Distance: <%= @solutionResults10[arrayIndex] %></p>
	<!-- <p> Full Data Set: <%= solution %></p> -->
<% end %>
<h2>Chart showing the best current solution with all the cities</h2>
<h3><%= "Current Best solution: #{@bestSolution10}" %></h3>
<canvas id="myChart10" width="600" height="600"></canvas>
<script>

var ctx = document.getElementById('myChart10').getContext('2d');
var chart = new Chart(ctx, {
   type: 'scatter',
   data: {
      datasets: [{
         data: <%= @chartDataArray10.to_json.html_safe %>,
         borderColor: 'black',
         borderWidth: 1,
         pointBackgroundColor: '#000',
         pointBorderColor: '#000',
         pointRadius: 5,
         pointHoverRadius: 5,
         fill: false,
         tension: 0,
         showLine: true
      }]
   },
   options: {
      legend: false,
      tooltips: false,
      responsive: false,
      maintainAspectRatio: true, 
      scales: {
         xAxes: [{
            ticks: {
               min: 0,
               max: 1000
            },
            gridLines: {
               color: '#888',
               drawOnChartArea: false
            }
         }],
         yAxes: [{
            ticks: {
               min: 0,
               max: 1000,
               padding: 10
            },
            gridLines: {
               color: '#888',
               drawOnChartArea: false
            }
         }]
      }
   }
});
</script>

<h2>After 100 Iterations</h2>
<% @solutions100.each_with_index do |solution, arrayIndex| %>
	<h3>Solution <%= arrayIndex+1 %> </h3>
	<p> Solution: 
		<% @solutions100.each_with_index do |cityId, cityIndex| %>
			<%= solution[cityIndex][0] %>
		<% end %>
	</p>
	<p> Total Distance: <%= @solutionResults100[arrayIndex] %></p>
	<!-- <p> Full Data Set: <%= solution %></p> -->
<% end %>

